body {
    background-color: #000000;
}
.navbar {
    background-color: #ff0000 !important;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
}
.container-profile {
    max-width: 600px;
    margin: auto;
    background: rgb(118, 126, 139);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.1);
    margin-top: 50px;
}
.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 70%;
}
.footer {
    background-color: rgb(71, 243, 255);
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}